{% set url_slug = path('ad_show', {'slug': ad.slug }) %}
<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} rooms, <strong>{{ ad.price }}€ / night</strong> <br>
            <small>Not Note</small>
        </div>

        <a href="{{ url_slug }}">
            <img src="{{ ad.coverImage }}" alt="Image de l'appartement"
                 style="height: 200px; width: 100%; display: block">
        </a>

        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ url_slug }}" class="">
                    {{ ad.title }}
                </a>
            </h4>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <a href="{{ url_slug }}" class="btn btn-secondary">See more</a>
            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ad_edit', {'slug': ad.slug }) }}" class="btn btn-primary">Update announcement</a>
                <a href="{{ path('ad_delete', {'slug': ad.slug }) }}" class="btn btn-danger" onclick="return confirm('Sure for delete this announcement : {{ ad.title }}')">Delete announcement</a>
            {% endif %}
        </div>
    </div>
</div>