{% extends 'base.html.twig' %}

{% block title %}Edit the announcement{% endblock %}

{% form_theme form 'Ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Edit the announcement : {{ ad.title }}</h2>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Update announcement</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ad.js') }}"></script>
{% endblock %}